body{font-family: Arial, sans-serif;background-color: #f0f0f0;}
h1{color:#444; text-align: center;  margin-top: 50px;}

form{max-width: 500px; margin:0 auto; background-color: #ffffff; border-radius: 10px; padding:30px; box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
label{display:block; margin-bottom: 10px; color: #333; font-size: 18px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em;}

input[type="text"],input[type="email"],input[type="tel"],textarea{
    display: block; width: 100%; padding:10px; border-radius: 5px; border: 1px solid #ccc;
    box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #555; background-color: #f6f6f6; transition: all 0.3s ease-in -out;

}
input [type="text"]:focus,input[type="email"]:focus,
input[type="tel"]:focus,textarea:focus{outline: none; border:1px solid #6fa2ff;
background-color: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

select{display: block; width:100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #555; background-color: #f6f6f6; transition: all 0.3s ease-in-out; }

input[type="submit"]{display:inline-block; padding:15px 30px;  font-size: 16px; font-weight: bold; color:#fff; background-color: #6fa2ff;
transition: all 0.3s ease-in-out;}

input[type="submit"]:hover{background-color: #4e83ff; box-shadow: 0 5px 10px rgba(111,162,255,0.4);}

.alert{padding:20px; border-radius: 5px;  text-align:center;   position: relative; 
    width:100%; margin: 0 auto; font-weight:normal; font-size:16px; 
    color:#333; margin-bottom: 15px;  box-sizing: border-box;}


.alert.success{background-color: #dff0d8; border:2px solid #3c763d;}

.alert.error{background-color: rgba(236,77,43,0.2); border:2px solid #EF9400;}


.close {position:absolute; top:5px; right: 5px; padding: 1px 4px; cursor: pointer;
border-radius: 25%; border: 1px solid #535c68; 
transition: background-color 0.2s ease-in-out;}

.close:hover{background-color: #f2f2f2;}


